<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sélectionner le nombre d'images</title>
</head>
<body>
    <h1>Combien d'images souhaitez-vous analyser ?</h1>
    <form action="/upload" method="post">
        <input type="radio" id="2" name="num_images" value="2">
        <label for="2">2 images</label><br>
        <input type="radio" id="3" name="num_images" value="3">
        <label for="3">3 images</label><br>
        <input type="radio" id="4" name="num_images" value="4">
        <label for="4">4 images</label><br>
        <input type="radio" id="5" name="num_images" value="5">
        <label for="5">5 images</label><br>
        <input type="radio" id="6" name="num_images" value="6">
        <label for="6">6 images</label><br>
        <input type="submit" value="Suivant">
    </form>
</body>
</html>
